{% include 'inc/header.twig' %}
<div class="contents">
    <div class="block_img">
        <h1>{{username}}さんのMyPage</h1>
    </div>
    <div class="block_tabmenu">
        <div class="tab">
            <a class="hover" href="/mypage">資料請求履歴</a>
            <a class="userinfo">お客様情報</a>
            <a class="hover" href="/mypage/userpw">パスワード変更</a>
        </div>
        <div class="tab_contents back_ground">
             <h2 class="userinfo space">お客様情報</h2>
                    <form action="/mypage/userinfoconfirm" method="post">   
                    <table>
                        <tr>
                            <th>お名前<span>※</span></th>
                            <td>{% if post %}{{post.username}}{% else %}{{data.screen_name}}{% endif %}<input type="hidden" name="username" value="{% if post %}{{post.username}}{% else %}{{data.screen_name}}{% endif %}"  />
                            </td>
                        </tr>
                        <tr>
                            <th>ふりがな<span>※</span></th>
                            <td><input type="text" size="40" name="userkana" value="{% if post %}{{post.userkana}}{%else %}{{data.profile_fields.userkana}}{%endif%}" />
                            {% if error.userkana %}<h5>{{error.userkana}}</h5>{% endif %}</td>
                        </tr>
                        <tr>
                            <th rowspan="6">住所<span>※</span></th>
                        </tr>
                        <tr>

                            <td>郵便番号<span>※</span><input type="text" size="40" name="postalcode" value="{% if post %}{{post.postalcode}}{%else %}{{data.profile_fields.postalcode}}{%endif%}" />
                            {% if error.postalcode %}<h5>{{error.postalcode}}</h5>{% endif %}</td>
                        </tr>
                        <tr>

                            <td>都道府県<span>※</span><select id="pref_id" name="pref" value = "{% if post %}{{post.pref}}{%else %}{{data.profile_fields.pref}}{%endif%}">
        {%for  key ,value in prefall %}
            {% if post %} <option value="{{key}}"{%if post.pref == key %} selected="selected" {%endif%}>
            {% else %}<option value="{{key}}"{%if data.profile_fields.pref == key %} selected="selected" {%endif%}>
                {% endif %}
                {{value}}</option>{%endfor%}</select>
        {% if error.pref %}<h5>{{error.pref}}</h5>{% endif %}</td>
                        </tr>
                        <tr>

                            <td>市区町村<span>※</span><input type="text" size="40" name="cities" value="{% if post %}{{post.cities}}{%else %}{{data.profile_fields.cities}}{%endif%}" placeholder="豊中市"  required/>
                            {% if error.cities %}<h5>{{error.cities}}</h5>{% endif %}</td>
                        </tr>
                        <tr>
                            <td>町域名・番地など<span>※</span><input type="text" size="40" name="adress1" value="{% if post %}{{post.adress1}}{%else %}{{data.profile_fields.adress1}}{%endif%}" placeholder="中桜塚1丁目17-50"  required/>
                            {% if error.adress1 %}<h5>{{error.adress1}}</h5>{% endif %}</td>
                        </tr>
                        <tr>
                            <td>建物名・部屋番号など<input type="text" size="40" name="adress2" value="{% if post %}{{post.adress2}}{%else %}{{data.profile_fields.adress2}}{%endif%}" placeholder="さんさん豊中401"/></td>
                        </tr>
                        <tr>
                            <th>電話番号<span>※</span></th>
                            <td><input type="text" size="40" name="tel" value="{% if post %}{{post.tel}}{%else %}{{data.profile_fields.tel}}{%endif%}" placeholder="0668461120（ハイフンなし）"  required/>
                            {% if error.tel %}<h5>{{error.tel}}</h5>{% endif %}</td>
                        </tr>
                        <tr>
                            <th>メールアドレス<span>※</span></th>
                            <td><input type="text" size="40" name="email" value="{% if post %}{{post.email}}{%else %}{{data.email}}{%endif%}" placeholder="wedding@gmail.com"  required/>
                            {% if error.email %}<h5>{{error.email}}</h5>{% endif %}</td>
                        </tr>
                   
                    </table>
                    <p><input type="submit" class="submit" value="内容を確認の上、確認画面へ" /></p>
                    <input type="hidden" name="{{ tokenkey }}" value="{{ csrftoken }}" />
                    </form>
         
        </div>
    </div>

</div>
